<div class="container-fluid h-100">
  <div class="row no-gutter h-100">
    <div class="col-lg-4 py-2" id="sidebar">
      <app-offer-create></app-offer-create>
    </div>

    <div class="col-lg offset-lg-4 border-left border-secondary p-0" style="height: 3000px;">
      <app-offer-catalog></app-offer-catalog>
    </div>
  </div>
</div>

 
    <!-- <div class="col">
        
    </div> -->
 

   <!-- <div class="footerDrawer">
     <div class="open">
      Offer in progress
     </div>
     <div class="content">
       content goes here
     </div>
   </div> -->
