/* @media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
    }
} */
@media (min-width: 992px) {
    #sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        max-height: 100vh - 60px;
        overflow-y: auto;
    }
}

.btn-link:hover { text-decoration-line: none;}
.btn-link:focus { text-decoration-line: none;}
