<div class="border-bottom border-light mb-1 unit-list">
  <div class="row ">
    <div class="col">
      <p class="m-0"><strong>{{ unit.name }}</strong> - {{unit.type}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="badge badge-pill badge-secondary mr-1 px-2 py-1" *ngFor="let t of unit.tags">{{ t }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="m-0">{{ unit.description }}</p>
    </div>
    <div class="col-sm-auto">
      <div class="row">
        <div class="col">Content:</div>
        <div class="col-sm-auto">
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddUnlock" (click)="addUnlock()" title='Add an unlock for {{unit.name}}'><i class="fas fa-lock-open"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddMaxBuildable" (click)="addMaxBuildable()" title='Add a maxbuildable for {{unit.name}}'><i class="fas fa-users"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddPrebuilt" (click)="addPrebuilt()" title='Add a prebuilt {{unit.name}}'><i class="fas fa-male"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col">Display:</div>
        <div class="col-sm-auto">
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddUnlock" (click)="addUnlock()"><i class="fas fa-lock-open"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddMaxBuildable" (click)="addMaxBuildable()"><i class="fas fa-users"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>