<div class="border-bottom border-light pb-1 mb-1">
  <div class="row">
    <div class="col">
      <p class="m-0 font-weight-bold">{{unit.type}} {{ unit.name }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="m-0"><small>({{ unit.tags }})</small></p>
      <p class="m-0">{{ unit.description }}</p>
    </div>
    <div class="col-sm-auto">
      <div class="row">
        <div class="col">Content:</div>
        <div class="col-sm-auto">
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddUnlock" (click)="addUnlock()" title='Add an unlock for {{unit.name}}'><i class="fas fa-lock-open"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddMaxBuildable" (click)="addMaxBuildable()" title='Add a maxbuildable for {{unit.name}}'><i class="fas fa-users"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddPrebuilt" (click)="addPrebuilt()" title='Add a prebuilt {{unit.name}}'><i class="fas fa-male"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col">Display:</div>
        <div class="col-sm-auto">
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddUnlock" (click)="addUnlock()"><i class="fas fa-lock-open"></i></button>
          <button class="btn btn-link py-0 px-2" [disabled]="!canAddMaxBuildable" (click)="addMaxBuildable()"><i class="fas fa-users"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>