<div class="row no-gutter m-0 h-100">
  <div class="col-md-3 col-lg-2 p-0 h-100">
    <ul class="nav flex-column bg-light">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="col p-0">
    content goes here
  </div>
</div>
