<div class="p-3 bg-light shadow-sm">

    <ngb-tabset>
        <ngb-tab title="Units">
          <ng-template ngbTabContent>
              <div class="row no-gutters p-3 border-left border-bottom border-right bg-white" style="border-color: rgb(222, 226, 230);">
                this is where filters go
              </div>
              <div class="row no-gutters p-3 border-left border-bottom border-right rounded-bottom bg-white" style="border-color: rgb(222, 226, 230);">
                  <div class="col">
                    <div *ngFor="let u of units">
                      <app-catalog-unit-list [unit]="u"></app-catalog-unit-list>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Tech" [disabled]="true">
                <ng-template ngbTabContent>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Buildings" [disabled]="true">
                  <ng-template ngbTabContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                  </ng-template>
                </ngb-tab>
          </ngb-tabset>
        </div>


<!-- 

  <div class="row no-gutters m-0">
  <div class="col w-100">
    <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link" [class.active]="visibleTab == 'units'" href="#">Units</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [class.active]="visibleTab == 'tech'" href="#">Tech</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="visibleTab == 'buildings'" href="#">Buildings</a>
          </li>
        </ul>
  </div>
</div>
<div class="row no-gutter m-0 h-100 bg-white">
  <div class="col p-0">
    <div *ngIf="false else templ"></div>
  </div>
</div>

</div>

<ng-template #templ>
    <div class="row no-gutters p-3 border-left border-bottom border-right rounded-bottom" style="border-color: rgb(222, 226, 230);">
      <div class="col">
        <div *ngFor="let u of units">
          <app-catalog-unit-list [unit]="u"></app-catalog-unit-list>
        </div>
      </div>
    </div>
  </ng-template> -->