<div class="container-fluid">

<div class="row">
<div class="col">
  <div style="width:700px; height: 510px;" class="border border-secondary">
    <div class="row" style="height: 300px;">
      <div class="col">pictures and stuff</div>
    </div>
    <div class="row">
      <div class="col">
          <p style="color: yellow; font-size: 1.3rem;">Offer title goes here</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p>description description description</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Offer expires:
        </div>
      </div>
      <div class="row">
        <div class="col">
8 hours
        </div>
        <div class="col">
          Claim
        </div>
      </div>

