<div *ngIf="offer" class="mw-100 create-offer-form">
  <form #offerForm="ngForm">
    <div class="">
    <div class="form-row m-0 bg-secondary px-2">
      <div class="col">
          <button type="button" class="btn btn-link p-0 text-secondary w-100 text-left" (click)="isDetailsCollapsed = !isDetailsCollapsed" [attr.aria-expanded]="!isDetailsCollapsed" aria-controls="detailsCollapse">
              <div class="form-row">  
                <div class="col"><span class="create-heading text-light">Descriptive fields</span></div>
                <div class="col-sm-auto">
                  <i class='fas fa-caret-square-right text-white' *ngIf="isDetailsCollapsed"></i><i class='fas fa-caret-square-down text-white' *ngIf="!isDetailsCollapsed"></i>
                </div>
              </div>
            </button>
      </div>
    </div>
    <div id="detailsCollapse" [ngbCollapse]="isDetailsCollapsed" class="w-100 p-2">
      <div class="form-group form-row">
        <label for="code" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Code</label>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="code" aria-describedby="codeHelp" required [(ngModel)]="offer.code" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="form-group form-row">
          <label for="title" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Title</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="title" [(ngModel)]="offer.title" name="title" >
          </div>  
      </div>

      <div class="form-group form-row">
          <label for="description" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Description</label>
          <div class="col">
            <textarea class="form-control form-control-sm" rows="4" id="description" [(ngModel)]="offer.description" name="description"></textarea>
          </div>
      </div>

      <div class="form-group form-row">
          <label for="iconTitle" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Icon Title</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="iconTitle" [(ngModel)]="offer.iconTitle" name="iconTitle" >
          </div>  
      </div>

      <div class="form-group form-row">
          <label for="iconDescription" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Icon Description</label>
          <div class="col">
            <textarea class="form-control form-control-sm" rows="3" id="iconDescription" [(ngModel)]="offer.iconDescription" name="iconDescription"></textarea>
          </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="form-row m-0 bg-secondary px-2">
      <div class="col">
        <button type="button" class="btn btn-link p-0 text-secondary w-100 text-left" (click)="isTimeFieldsCollapsed = !isTimeFieldsCollapsed" [attr.aria-expanded]="!isTimeFieldsCollapsed" aria-controls="timeFieldsCollapse">
          <div class="form-row">  
            <div class="col"><span class="create-heading text-light">Time fields</span></div>
            <div class="col-sm-auto">
              <i class='fas fa-caret-square-right text-white' *ngIf="isTimeFieldsCollapsed"></i><i class='fas fa-caret-square-down text-white' *ngIf="!isTimeFieldsCollapsed"></i>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div id="timeFieldsCollapse" [ngbCollapse]="isTimeFieldsCollapsed" class="w-100 p-2">
      <div class="form-group form-row">
          <label for="startDate" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Start time</label>
          <div class="col-xl-9 col-md-12">
            <input type="datetime-local" class="form-control form-control-sm" id="startDate" [(ngModel)]="startDateString" name="startDate" >
          </div>  
      </div>

      <div class="form-group form-row">
          <label for="endDate" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">End time</label>
          <div class="col-xl-9 col-md-12">
            <input type="datetime-local" class="form-control form-control-sm" id="endDate" [(ngModel)]="endDateString" name="endDate" >
          </div>  
      </div>

      <div class="form-group form-row">
          <label for="duration" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Duration</label>
          <div class="col-xl-9 col-md-12">
            <input type="number" class="form-control form-control-sm" id="duration" [(ngModel)]="offer.duration" name="duration" >
          </div>  
      </div>
    </div>
  </div>

  <div class="">
    <div class="form-row m-0 bg-secondary px-2">
      <div class="col">
        <button type="button" class="btn btn-link p-0 text-secondary w-100 text-left" (click)="isContentCollapsed = !isContentCollapsed" [attr.aria-expanded]="!isContentCollapsed" aria-controls="isContentCollapsed">
          <div class="form-row">  
            <div class="col"><span class="create-heading text-light">Content</span></div>
            <div class="col-sm-auto">
              <i class="fas fa-caret-square-right text-white" *ngIf="isContentCollapsed"></i><i class='fas fa-caret-square-down text-white' *ngIf="!isContentCollapsed"></i>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div id="contentCollapse" [ngbCollapse]="isContentCollapsed" class="w-100 p-2">
      <div class="content-block">
        <div class="form-group form-row">
          <label class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Skus <!--<button class="btn btn-link" (click)="openModal(skuModal)"><i class="fas fa-plus-square"></i></button>--></label>
          <div class="col">
            <div class="row" *ngFor="let sku of offer.content.skus | keyvalue">
              <div class="col">
                {{ sku.key }}
              </div>
              <div class="col-md-auto">
                {{ sku.value }}
              </div>
              <div class="col-md-auto">
                <button class="btn btn-link m-0 mr-1 p-0" (click)="incrementSku(sku.key)"><i class="fas fa-plus-square"></i></button>
                <button class="btn btn-link m-0 p-0" (click)="decrementSku(sku.key)"><i *ngIf="sku.value == 1" class="fas fa-trash-alt text-danger"></i><i *ngIf="sku.value > 1" class="fas fa-minus-square"></i></button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #skuModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Add a sku</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="arbitrarySku">Sku</label>
                      <input type="text" class="form-control form-control-sm" id="arbitrarySku" ngbAutofocus required name="arbitrarySku">
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Add</button>
                
              </div>
        </ng-template>

        <div class="form-group form-row">
          <label class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Units<!-- <button class="btn btn-link"><i class="fas fa-plus-square"></i></button>--><br />(prebuilt)</label>
          <div class="col">
            <div class="row" *ngFor="let u of offer.content.prebuiltUnits">
              <div class="col">
                {{ u.name }} ({{ u.type }})
              </div>
              <div class="col-md-auto">
                {{ u.amount }}
              </div>
              <div class="col-md-auto">
                <button class="btn btn-link m-0 mr-1 p-0" (click)="incrementPrebuilt(u)"><i class="fas fa-plus-square"></i></button>
                <button class="btn btn-link m-0 p-0" (click)="decrementPrebuilt(u)">
                    <i *ngIf="u.amount == 1" class="fas fa-trash-alt text-danger"></i><i *ngIf="u.amount > 1" class="fas fa-minus-square"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="">
    <div class="form-row m-0 bg-secondary px-2">
      <div class="col">
        <button type="button" class="btn btn-link p-0 text-secondary w-100 text-left" (click)="isDisplayCollapsed = !isDisplayCollapsed" [attr.aria-expanded]="!isDisplayCollapsed" aria-controls="isDisplayCollapsed">
          <div class="form-row">  
            <div class="col"><span class="create-heading text-light">Display</span></div>
            <div class="col-sm-auto">
              <i class="fas fa-caret-square-right text-white" *ngIf="isDisplayCollapsed"></i><i class="fas fa-caret-square-down text-white" *ngIf="!isDisplayCollapsed"></i>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div id="displayCollapse" [ngbCollapse]="isDisplayCollapsed" class="w-100 p-2">
      <div class="content-block">
          <div class="form-group form-row">
              <label class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Items <!--<button class="btn btn-link" (click)="openModal(skuModal)"><i class="fas fa-plus-square"></i></button>--></label>
              <div class="col">
                <div class="row" *ngFor="let item of offer.display">
                  <div class="col">
                    {{ item.item }}
                  </div>
                  <div class="col-md-auto">
                    {{ item.amount }}
                  </div>
                  <div class="col-md-auto">
                      <button class="btn btn-link m-0 mr-1 p-0" (click)="incrementDisplayItem(item.item)"><i class="fas fa-plus-square"></i></button>
                      <button class="btn btn-link m-0 p-0" (click)="decrementDisplayItem(item.item)">
                          <i *ngIf="item.amount == 1" class="fas fa-trash-alt text-danger"></i><i *ngIf="item.amount > 1" class="fas fa-minus-square"></i>
                      </button>
                    </div>
                </div>
              </div>
            </div>

        <div class="form-group form-row">
          <label for="templateId" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Template</label>
          <div class="col-xl-9 col-md-12">
            <select class="form-control form-control-sm" id="template" name="templateId" [(ngModel)]="offer.templateId">
              <option [value]="1">Background only</option>
              <option [value]="6">1 item (supports background)</option>
              <option [value]="4">3 items</option>
              <option [value]="5">4 items</option>
              <option [value]="3">5 items</option>
              <option [value]="2">6 items</option>
            </select>
          </div>  
        </div>
      
        <div class="form-group form-row" *ngIf="offer.templateId == 1 || offer.templateId == 6">
          <label for="background" class="col-xl-3 col-md-12 col-form-label col-form-label-sm">Background</label>
          <div class="col-xl-9 col-md-12">
            <input type="text" class="form-control form-control-sm" id="background" [(ngModel)]="offer.displayOptions.background" name="background">
          </div>  
        </div>  
      </div>
    </div>
  </div>
      
  <div class="mt-3">
    <button class="btn btn-link" disabled>Preview JSON</button>
    <button class="btn btn-link" disabled>Preview visual</button>
    <button type="submit" class="btn btn-primary" (click)="createOffer()" [disabled]="isCreatingOffer">Create</button>
  </div>
  </form>
</div>

<div class="mt-2">
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
</div>