<section id="offers-list-section" class="border border-secondary rounded bg-white shadow">

  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary border-bottom w-100">
  <!-- <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
    </ngb-datepicker>
    
    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template> -->
    <!-- <div class="input-group">
      <div class="input-group-prepend">
      <span class="input-group-text">Display mode</span>
    </div> -->


      <div class="row w-100">
        <div class="col-md-auto">
            <span class="btn-group" role="group" aria-label="Display modes" id="displayModeGroup">
              <button type="button" class="btn btn-sm" (click)="setDisplayMode('box')" [ngClass]="{ 'btn-success': displayMode == 'box' }" data-toggle="tooltip" data-placement="top" title="Grid view"><i class="fas fa-th"></i></button>
              <button type="button" class="btn btn-sm" (click)="setDisplayMode('table')" [ngClass]="{ 'btn-success': displayMode == 'table' }" data-toggle="tooltip" data-placement="top" title="List view"><i class="fas fa-bars"></i></button>
            </span>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="Search ..." [(ngModel)]="filterString" name="filterString" (input)="filterOffers()" />
        </div>

        <div class="col-md-3">
              <div class="input-group">
            <select class="form-control form-control-sm" [(ngModel)]="sortBy" (change)="filterOffers()" >
                <option *ngFor="let opt of orderByFields">{{ opt }}</option>
              </select>
      
              <span class="btn-group" role="group" aria-label="Display modes">
                  <button type="button" class="btn btn-sm" (click)="setSortDirection('ascending')" [ngClass]="{ 'btn-success': sortDirection == 'ascending' }" data-toggle="tooltip" data-placement="top" title="Sort in ascending order"><i class="fas fa-sort-amount-up"></i></button>
                  <button type="button" class="btn btn-sm" (click)="setSortDirection('descending')" [ngClass]="{ 'btn-success': sortDirection == 'descending' }" data-toggle="tooltip" data-placement="top" title="Sort in descending order"><i class="fas fa-sort-amount-down"></i></button>
              </span>
            </div>
        </div>
      </div>
  </nav>

  <div [ngSwitch]="displayMode">
    <div *ngSwitchCase="'table'">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th class="text-right">Cohort</th>
            <th class="text-right">Purchasers</th>
            <th class="text-right">Cost</th>
            <th>Currency</th>
            <th class="text-right">Revenue</th>
            <th>Start date</th>
            <th>End date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers">
            <td [ngClass]="{'activeOffer': offer.active}"><a [routerLink]="['/offers', offer.id ]">{{ offer.offerCode }}</a></td>
            <td>{{ offer.title }}</td>
            <td class="text-right">{{ offer.cohortSize }}</td>
            <td class="text-right">{{ offer.uniquePurchased }}</td>
            <td class="text-right">{{ offer.cost }}</td>
            <td>{{ offer.costSku }}</td>
            <td class="text-right">{{ offer.approximateRevenue | currency:'CAD' }}</td>
            <td>{{ offer.startTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ offer.endTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
            <td><button type="button" class="btn btn-link p-0" (click)="updateCloneList(offer)"><i class="fas fa-file-export"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngSwitchCase="'box'" class="p-0">

    <div class="w-100 m-0 border-bottom border-light p-2 offer-box-item" *ngFor="let offer of offers">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
                <strong>{{ offer.offerCode }}</strong>
              </div>
              <div class="col-auto">
                {{ offer.title }}
              </div>
          </div>
          <div class="row">
              <div class="col-auto">
                  offered to <strong>{{ offer.cohortSize }}</strong> 
              </div>
              <div class="col-auto">
                purchased by <strong>{{ offer.uniquePurchased }}</strong>
              </div>
              <div class="col-auto">
                <strong>{{ offer.cost }}</strong> {{ offer.costSku }}
              </div>
              <div class="d-lg-block d-xl-none w-100"></div>
              <div class="col-auto">
                  {{ offer.startTime * 1000 | date:'yyyy-MM-dd HH:mm' }} - {{ offer.endTime * 1000 | date:'yyyy-MM-dd HH:mm' }}
              </div>
               
              <div class="col text-right">
                <strong>{{ offer.approximateRevenue | currency:'CAD' }}</strong>
              </div>
          </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-link btn-lg" (click)="updateCloneList(offer)"><i class="fas fa-file-export"></i></button>
        </div>
      </div>
    </div>
      
    
    <!-- <div class="row select-list p-0 m-0">
          <div class="offer-box col-sm-6 col-md-4 mb-4" *ngFor="let offer of offers">
              <div class="card">
                
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">{{ offer.offerCode }}</h6>
                  <h5 class="card-title">{{ offer.title }}</h5>
                  
                  <p class="card-text">{{ offer.approximateRevenue | currency:'CAD' }}</p>
                  <button type="button" class="btn btn-link float-sm-right" (click)="updateCloneList(offer)">Clone this offer <i class="fas fa-share-square"></i></button>
                </div>
              </div>
          </div>
        </div> -->
  </div>

</div>
</section>